.error-name{
    position:absolute;
    color:#FF5252;
    top:850px;
    left: 20;
}
.error-email{
    position:absolute;
    color:#FF5252;
    top:880px;
    left: 20;
}
.error-pass{
    position:absolute;
    color:#FF5252;
    top:905px;
    left: 20;
}
.error-check{
    position:absolute;
    color:#FF5252;
    top:945px;
    left: 20;
}
.error-login-email{
    position:absolute;
    color:#FF5252;
    top:835px;
    left: 20;
}
.error-login-pass{
    position:absolute;
    color:#FF5252;
    top:855px;
    left: 20;
}
.success-message{
    color:#067C1E;
    position:absolute;
    top:860px;
    left:40px;
}

@media screen and (min-width:1024px){
.error-name{
    background-color: #FF5252;
    width: 161px;
    top: 125px;
    padding: 20px;
    color: #fff;
    }

.error-pass{
    background-color: #FF5252;
    width: 161px;
    height: 80px;
    top: 300px;
    padding: 20px;
    color: #fff;
}

.error-email{
    background-color: #FF5252;
    width: 161px;
    height: 80px;
    top: 213px;
    padding: 20px;
    color: #fff;
}
.error-check{
    background-color: #FF5252;
    width: 161px;
    height: 80px;
    top: 390px;
    padding: 15px;
    color: #fff;
}
.success-message{
    color: #067C1E;
    position: absolute;
    top: 900px;
    left: 340px;
}
}

@media screen and (min-width:1280px){
.error-name{
    width: 180px;
    }

.error-pass{
    width: 180px;
}

.error-email{
    width: 180px;
}
.error-check{
    width: 180px;
}
.error-login-email{
    background-color: #FF5252;
    width: 161px;
    top: 130px;
    padding: 20px;
    color: #fff;
}
.error-login-pass{
    background-color: #FF5252;
    width: 161px;
    top: 240px;
    padding: 20px;
    color: #fff;
}
.success-message{
    top: 500px;
    left: 460px;
}
}