/* General style */
@font-face {
    font-family: 'RobotoRegular';
    src:url("../Roboto/Roboto-Regular.ttf")
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
    font-family: 'RobotoRegular';
}

body{
    width:100%;
    margin:0;
}

/* Navigation */
header{
    .nav-bar{
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        position:relative;
        background-color:#fff;
    }
    .nav-logo{
        display:flex;
        align-items:center;
    }
    .menu{
        display:flex;
        padding-right:15px;
        li{
            padding-left:30px;
        }
        li a{
            display:inline-block;
            text-align:center;
            position:relative;
            color:#000000;
        }
    }
    .open-menu, .close-menu{
        position:absolute;
        color:#000000;
        font-size:1.5rem;
        cursor:pointer;
        display:none;
    }
    .open-menu{
        top: 50%;
        right: 20px;
        transform:translateY(-50%);
    }
    .close-menu{
        top:40px;
        right:20px;
    }
    #check{
        display:none;
    }
}

@media (max-width:1280px){
header{
    .menu{
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:60%;
        height:100vh;
        position:fixed;
        top:0;
        right:-100%;
        z-index:100;
        background-color:#fff;
        transition: all 0.4s ease-in-out;
    li{
        margin-top: 40px;
    }
    li a{
        padding: 10px;
    }
    }
    .open-menu, .close-menu{
        display:block;
    }
    #check:checked ~ .menu{
        right: 0;
    }
  }
}









