.login-container{ 
    .login-container-block{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    form{
        display:flex;
        flex-direction:column;
        max-width:300px;
    }
    .user{
        text-align:center;
        
    }
    }
}