.update-container{
    h1{
        text-align:center;
    }
    .update-form{
        display:flex;
        flex-direction: column;
        padding: 20px;
    }
    .input{
        background-color:#3E3E3E;
        color:#fff;
        padding:15px;
        margin:10px;
    }
    .submit{
        background-color: #3E3E3E;
        color: #fff;
        margin-right: 80px;
        margin-left: 80px;
        border-radius: 20px;
        padding:2%;
    }
}

@media screen and (min-width:1024px){
.update-container{
    .update-form{
        padding-right:10%;
        padding-left:10%;
    }
    .input{
        padding:20px;
    }
    .submit{
        margin-right: 25%;
        margin-left: 25%;
        padding:1%;
    }
}
}